# Git
.git
.gitignore

# uv caches
.uv/
.uv-cache/

# Sensitive files and local data
.env
credentials.json
data/
**/*.db

# Python caches and environments
.venv/
env/
venv/
**/__pycache__/
**/*.pyc
.pytest_cache/
.ruff_cache/

# Documentation
docs/
