# Mandatory variables
BOT_TOKEN=
GOOGLE_SHEET_ID=
GOOGLE_CREDENTIALS_FILE=credentials.json
DB_PATH=./bookings.db

# Optional variables:
ADMIN_ID=your_value_here_optional
TIMEZONE=UTC
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
