# Sensitive data and databases
credentials.json
.env
*.db
db.sqlite3
db.sqlite3-journal

# uv & Python
.uv/
.uv-cache/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Environments
.venv/
env/
venv/
ENV/

# IDEs and Tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
.idea/
pyrightconfig.json

# System files
Thumbs.db
[Dd]esktop.ini
